body {
    background-image: url(pic.jpg);
    background-size: cover;
    background-position: center center;
}
.homepage{
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow:hidden;
    color:#ffffff;
    background: linear-gradient(0deg, rgba(47,45,59,1) 0%, rgba(228,205,205,0) 100%);
}